body{
  background-color: #003356;
}
h1{
  color: #fff;
  text-align: center;
  
}
p{
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.caja{
  width: 560px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 160px;
  background-size: cover;
  background-image: url(https://lagunalawnservice.com/img/galeria9.jpg);
}