body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #0366b6;
    position: static;
    height: 60px;
    padding: 0;
    margin: 0;
}

.header ul {
    padding: 0;
    margin: 0;
    position: relative;
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 16px 16px;
    display: block;
    color: #ffff;
}

li a:hover {
    background-color: aliceblue;
    color: #000;
}


/* down */

.down {
    position: relative;
    display: inline-block;
    width: 200px;
}

.down #vermas {
    color: white;
    text-decoration: none;
}

.down a {
    display: block;
    padding: 18px 18px;
    font-size: 1.4rem;
    z-index: 1;
}

.down .down-content {
    width: fit-content;
    background-color: #f0dcdc;
    padding: 18px 18px;
    display: none;
}

.down:hover .down-content {
    display: block;
}

.down .down-content a {
    text-decoration: none;
    color: #04aa6b;
}

.down .down-content a:hover {
    background-color: #f6f6f6;
}